name: Our workflow
on: push
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: actions/checkout # github repo.
          ref: v6 # branch, tag, commit hash# 
      - run: ls -al          
      
